<!-- 4/15/2019 - Created Team Page - JS Teoh -->
<div class="space3"></div>
<h1 id ="team-header">Team</h1>
<div id="team-div">
    <p>JS Teoh (Ze Head)</p>
    <p>Brandon Arbuthnot (Ze Babe)</p>
    <p>Tom Paoloni (Ze IQ200)</p>
    <p>Austin Pearce (Ze HatsRayls)</p>
    <br />
    <div id="return-div">
    <a href="/" id = "return-home" >Return to Home</a>
</div>
</div>