// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#questions-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

#your-questions {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

#questions-form input[type='submit'] {
  margin-top: 20px;
}

#home-button-questions {
  position: absolute;
  width: 80px;
  right: 20px;
  top: 20px;
}